repos:
  # - repo: ...

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose, feat, fix, chore, test, vocab, session, refactor]
